body{
    margin: 0;
    font-family: poppins;
}

#main{
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 60% auto;

}
#text-color{
    color: white;
}
#left-section{
    background-color: rgb(75, 56, 194);
    height: 100vh;
    padding-left: 100px;
    /* padding-top: 30px; */
    position: relative;
    overflow-x: hidden;

}
#bg-effect{
    position: absolute;
    right:-20vh;
    top:30vh;
    height: 40vh;
    width:40vh;
    border-radius: 50%;
    background-color: rgb(152, 140, 234);
    box-shadow: 
    0 0 0 20vh rgba(136, 121, 232, 0.682),  /* inner border */
    0 0 0 40vh rgba(136, 121, 232, 0.484), /* outer border */
    0 0 0 60vh rgba(136, 121, 232, 0.175); /* outer border */
}
#logo-container{
    margin-top: 20px;
    padding-top: 20px;

}
#logo-container img{
    height: 40px;
}

#info-container{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;


}

#info-container div{
    margin-top: 10px;
}

#info-container p{
    margin: 0;
    font-size: 20px;
}
#info-container h6{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
}
#btns-container{
    display: flex;
    gap: 2px;

}
#btn{
    border: 1px solid white;
    border-radius: 15px;
    padding: 8px;
    margin-right: 6px;

}

#right-section{
    padding: 80px;
    background-color: black;
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
    
}
#login-content{
    padding-top: 80px;
    margin-top: 50px;

}
#input-field input{
    color:white;
    background-color: black;
    border: solid white 2px;
    border-radius: 8px;
    height:2.3rem;
    margin-top: 20px;
    
    width:60%;
    min-width: 230px;

}
#submit{
    color:white;
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 69, 193);
    border-radius: 8px;
    height:2.6rem;
    margin-top: 20px;
    width:67%;

}
.table-container{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.table-heading{
    font-size: 26px;
    text-decoration: underline;
    font-weight: 500;
    margin-right: 10px;
}
.table-menu{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-button{
    background-color: blue;
    color: white;
    border-radius: 2px;
    border: none;
    margin-right: 2px;
    padding: 2px 8px;
}
@media only screen and (max-width:876px) {
    #main{
        display: block;
    }
    #left-section{
        display: none;
    }
}

